<div class="container">
    <div class="row">
        <div class="col">
            <h1>Kullanıcı listesi</h1>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Isim</th>
                        <th scope="col">Soyisim</th>
                        <th scope="col">Kullanıcı adı</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>

                    <% if (typeof users!="undefined") { %>
                    <% for( let i = 0; i < users.length; i++ ) { %>
                    <tr></tr>
                    <th scope="row"><%= i %> </th>
                    <th><%= users[i].firstName %> </th>
                    <th><%= users[i].lastName %> </th>
                    <th><%= users[i].userName %> </th>
                    <th><a  href=<%= "/user/delete/" +users[i].userName %> type="button" class="btn btn-sm btn-danger ">Sil</a>
                    </th>
                    </tr>
                    <% } %>
                    <% } %>


                </tbody>
            </table>
        </div>
    </div>
</div>